<div>
  <h3>Excluir Perfil</h3>
  <hr>
  <p>
    Antes de confirmar que você deseja que seu perfil seja excluído, gostaríamos de explicar as implicações da
    exclusão:</p>

  <ul>
    <li>A exclusão é irreversível e você não terá como recuperar nenhum conteúdo original, caso essa exclusão
      ser realizado e você mudar de idéia mais tarde.
    </li>
    <li>
      Suas perguntas e respostas permanecerão no site, mas serão desassociadas e anonimizadas (o autor será
      listado como "user22816266") e não indicará sua autoria mesmo se você retornar ao site posteriormente.
    </li>
  </ul>

  <p>
    A confirmação da exclusão excluirá apenas seu perfil no Stack Overflow - não afetará nenhum dos seus outros perfis
    na rede Stack Exchange. Se quiser excluir vários perfis, você precisará visitar cada site separadamente
    e solicitar a exclusão desses perfis individuais.
  </p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Li as informações indicadas acima e compreendo as implicações de ter meu perfil excluído. eu desejo
      prosseguir com a exclusão do meu perfil.
    </label>
  </div>
  <button class="mt-3 mb-4 btn btn-danger">Salvar Perfil</button>
</div>
