<div class="root">
  <div class="info-question">
    <span>0 Votos</span>
    <span>0 Respostas</span>
    <span>2 Visualizacoes</span>
  </div>
  <div class="question-data">
    <h3 class="text-primary" (click)="navigateToQuestion('1')">SwiftData is giving me an error 'Element' is not a member
      type of class</h3>
    <div class="footer-data">
      <div class="tags text-primary">
        <span class="badge bg-primary">TAG 23</span>
        <span class="badge bg-primary">Tag 1</span>
        <span class="badge bg-primary">Tag 1</span>
        <span class="badge bg-primary">Tag 1</span>
        <span class="badge bg-primary">Tag 1</span>
        <span class="badge bg-primary">Tag 1</span>
      </div>
      <div class="autor-data">
        <span>Jonas Silva</span>
        <span>Modificado a 2hrs</span>
      </div>
    </div>
  </div>

</div>
