<header>

  <h2 class="text-primary">StackCreator</h2>
  <div class="search-container">
    <div class="input-group search-container has-validation">
      <span class="input-group-text" id="inputGroupPrepend"><i class="fa text-primary fa-search"></i></span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
    <div routerLink="/my-profile" class="user-infor">
      <img src="https://lh3.googleusercontent.com/a/ACg8ocLhXQ8nbYCXlxpsNl4YIeqGGn_YTHCA21dren9EaEulQF5i=k-s256" alt="">

    </div>
  </div>
</header>
