<div class="all-questions">
  <div class="header">
    <h1>Todas as Perguntas</h1>
    <button routerLink="/ask-question" class="btn btn-primary">Fazer uma pergunta</button>
  </div>
  <app-question-view ></app-question-view>
  <app-question-view></app-question-view>
  <app-question-view></app-question-view>
  <app-question-view></app-question-view>
  <app-question-view></app-question-view>
  <app-question-view></app-question-view>
  <app-question-view></app-question-view>
  <nav aria-label="Page navigation pagination">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Voltar</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Proximo</a></li>
    </ul>
  </nav>
</div>
