<div class="container-fluid">
  <div class="row">

    <div class="col-4 ">
      <h3>Informacoes</h3>
      <div class="card">
        <div class="card-body">
          <div class="stats-group">
            <div class="stats-item">
              <span>1</span>
              <span class="title">Respostas</span>
            </div>
            <div class="stats-item">
              <span>4</span>
              <span class="title">Perguntas</span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="item-information">
        <h3>Sobre</h3>
        <div class="pendent card">
          <div class="card-body">
            <p class="card-text">Sua seção sobre mim está em branco no momento. Gostaria de adicionar um? <a
              class="text-primary">Editar
              Perfil</a></p>
          </div>
        </div>
      </div>
      <div class="item-information p-1.5">
        <h3>Posts</h3>
        <div class="pendent card">
          <div class="card-body">
            <p class="card-text">
              Apenas começando? Tente responder a uma pergunta!
              <br/>
              Suas perguntas, respostas e tags mais úteis aparecerão aqui.<br/> Comece respondendo a uma pergunta ou
              selecionando tags que correspondam aos tópicos de seu interesse.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
