ul{
    list-style-type: circle;
}

.card{
    margin-bottom: 30px;
}
.NgxEditor__Wrapper{
    height: 200px;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--bs-primary);
  color: #fff;
  border-radius: 5px;
  margin-right: 5px;
}
