.NgxEditor__Wrapper{
  height: 150px;
}
.profile-photo{
  position: relative;
  height: 200px;
  width:  200px;
  border-radius: 10px;
  background-size: cover;
  margin-bottom: 30px;
  button{
    color: #ffffff;
    background: var(--bs-primary);
    text-align: center;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
  }
}
label{
  font-weight: bold;
}
