<div class="root">
  <div class="menu">
    <ul>
      <li class="button-select">
        <button  routerLink="/questions">
          <i class="fa fa-home"></i>
          Home
        </button>
      </li>
      <li>
        <button>
          <i class="fa fa-globe"></i>
          Perguntas
        </button>
      </li>
      <li>
        <button>
          <i class="fa fa-users"></i>
          Usuarios
        </button>
      </li>
      <li routerLink="/tags">
        <button>
          <i class="fa fa-tags"></i>
          Tags
        </button>
      </li>
      <li>
        <button>
          <i class="fa  fa-heart"></i>
          Salvos
        </button>
      </li>
    </ul>
  </div>
</div>
